<header>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">EGOnline</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sentences", words_path %></li>
        <li><a href="#">Blogs</a></li>
        <li><%= link_to "About US", about_aboutus_url %></li>
      </ul>
      </div>
    </div>
  </nav>
</header>
